#**` Data Structure`**

1. What are data structures, and why are they important?
  - In Python, data structures are ways to store, organize, and manage data so it can be used efficiently in programs. Python provides built-in data structures such as lists, tuples, sets, and dictionaries, as well as advanced structures through libraries like collections and heapq. These structures help define how data is accessed, updated, and processed. Data structures are important in Python because they directly affect code performance, readability, and scalability. For example, lists are useful for ordered data, sets allow fast membership checking, and dictionaries provide quick key-value lookups. Choosing the right data structure reduces time complexity and memory usage. Understanding Python data structures helps developers write efficient algorithms, solve real-world problems, and build clean, maintainable applications.
2. Explain the difference between mutable and immutable data types with examples.
  - Mutablity of a data type means it can be modified or not, in other words if a data type is mutable its means its value can be change at any instance, add and remove from element from. Example of mutable data types are list, set , dictionary. One the other hand immutable data types are those whose valuae are unchangeable at any instance or if hyou try to do so it will trough errors. Example of immutable data types are string, tuple.
3. What are the main differences between lists and tuples in Python?
  - *Difference between lists and tuple are:-*

*   List is mutable and tuple is mutable means we can modified list but not tuple.
*   List store data in [] and tuple stores in () and we can also store data in tuple without anything just by spreate them with commas.

*   Tuple is hashable but list is not means we can make tuple a key for dictionary but the case for list.
4. Describe how dictionaries store data.
  - Dictionary store the data in key vlaue pair where the key is unique and to each key a value is assign which can be same. For example,
  thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
5. Why might you use a set instead of a list in Python?
  - This are some cases where we use set over list:-


*   When we only of unique that we use set over list as set don't allow duplicates.
*   When we want faster result with "in" operator as when we use set in that case the time complexity become O(1).


*   When we need hashable data type like we can use set as a key to dictionary but not list.




6. What is a string in Python, and how is it different from a list?
  - String is the array of character is python which means it contains character collection which can access one by one using indexx of the string.It can behave both as data type and data structure means we can apply basic operation on it and also iterator over it and also string default input type of the python.


*   Synatax: Str=""(we assign avalue to string in double or single quotes)
meaans Str='' is also correct
*   The main difference between string and list is that list is mutable and string immutable means we change value of list at any instance but not the case for string.


7. How do tuples ensure data integrity in Python?
  - Tuple is a immutable data type of python means if we you store any data in tuple no one change can it not also you make it a fit data type for data integrity.
8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in key–value pairs using a hash function to determine where each key’s value is stored in memory. The hash function converts a key into a numeric hash, enabling fast data access. Python dictionaries are implemented using hash tables. When a key is added to a dictionary, Python hashes it and stores the value at the corresponding location. This allows dictionaries to support very fast lookup, insertion, and deletion operations, typically with O(1) average time complexity, making them highly efficient for data retrieval.
9. Can lists contain different data types in Python?
  - Yes, list can contain different data type means it is a heterogenous data structure. For example if you make list, L=["Karanjot singh",1,1.5,'a'] it will not throw you error and you can access each and every element of list through indexing and you can also add other list, tuple, set, dictionary as a element of list.
10. Explain why strings are immutable in Python.
  - String is a validly use data structure especially in file handling that is why to maintain data security , integrity, efficiency and avaiablity it is design as immutable data type.
11. What advantages do dictionaries offer over lists for certain tasks?
  - When we need dictionary over list here are cases:-


*   When we needed the data in key value pair as the dictionary store data in key value pair.
*   When needed the fast retrival of that using specific key.


*   When unorder data needed or the order of data structure is not imporatnat for logic.
*   When we need create data schemas like in JSON file data is store in dictionary format.




12. Describe a scenario where using a tuple would be preferable over a list.
  - When we need tuple over list here are some cases:-


*   When you need to maintain data intergrity as tuple is immutable byh nature.
*   When hashable data type is needed like tuple can be use as the key of dictionary.

*   When you need to assign the different variable of different index of data structure this is possible in tuple and known as tuple unpacking. For example, a,b=1,2.





13. How do sets handle duplicate values in Python?
  - Set is a data type which only allow unique values if someone try to assign duliplate value to set it automatically remove all duplicate and result will be unique values. For examples s={1,2,2,3,4,4,4,5,5,5} output: 1,2,3,4,5.This also make it prefect to use as key for dictionary.
14. How does the “in” keyword work differently for lists and dictionaries?
  - "in" keyword in python is used for checking membership of element in different data structure. In list it will check a specific value is present in list or not throw result in boolean type and in case of dictionary is will check of specific key present in dictionary or not as dictionary is in key value pair if you rellay want check dictionary value you can check in dict.values().
15. Can you modify the elements of a tuple? Explain why or why not.
  - As tuple is immutable we are not able to modify it but if you rellay want to modify tuple first change it in list data tyoe using type casting list(tuple) and use loist operation on it to modify its element then again using type casting change it back to tuple., tuple(list) and then get result of modified tuple.
16. What is a nested dictionary, and give an example of its use case?
  - Nested dicitionary is define as dictionary in dictionary. It is use when you to need to create data schemas where there is different feilds and records and you want to store it in one data structure, for example: JSON file.
17. Describe the time complexity of accessing elements in a dictionary.
  - In Python, accessing elements in a dictionary has an average time complexity of O(1), which means constant time. This is because dictionaries use a hash table internally, where keys are converted into hash values to determine their storage location. As a result, retrieving a value using a key is usually very fast, regardless of the dictionary size. However, in rare cases of many hash collisions, the time complexity can degrade to O(n), where n is the number of elements. Python minimizes collisions using efficient hashing and resizing strategies.
18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries when data needs to be stored in an ordered sequence and accessed by position or index. They are ideal when elements are processed sequentially, such as iterating through items or applying operations in order. Lists are also suitable when data does not require key-value mapping and when duplicates are allowed. They use less memory compared to dictionaries, making them efficient for simple collections. Additionally, lists are preferred when the dataset is small or when frequent slicing, sorting, or indexing operations are required.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because they store data based on hash values, not insertion order. This means elements are accessed by keys rather than position. As a result, data retrieval is fast and efficient, but indexing or positional access is not supported.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - A list and a dictionary differ mainly in how data is retrieved. In a list, elements are accessed using their index positions, such as my_list[2], which works well when the position of data is known. However, finding a specific value in a list may require scanning elements one by one, taking O(n) time. In contrast, a dictionary retrieves data using unique keys, like my_dict["name"]. This key-based access uses hashing, allowing much faster lookup, usually in O(1) time, making dictionaries ideal for quick data retrieval.

In [12]:
#1. Write a code to create a string with your name and print it.
Str="Karanjot Singh"
print(type(Str))
print(Str)

<class 'str'>
Karanjot Singh

In [2]:
 #2. Write a code to find the length of the string "Hello World".
 S="Hellow world"
 print(len(S))

12

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
Str="Python Programming"
print(Str[:3])

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
Str="Hello"
print(Str.upper())

HELLO

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
Str="I like apple"
print(Str.replace("apple","orange"))

I like orange

In [13]:
#6. Write a code to create a list with numbers 1 to 5 and print it
l=[i for i in range(1,6)]
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4, 5]

In [7]:
 #7. Write a code to append the number 10 to the list [1, 2, 3, 4]
 L=[1,2,3,4]
 print(L)
 L.append(10)
 print(L)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
L=[1,2,3,4,5]
print(L)
L.remove(3)
print(L)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
L=['a','b','c','d']
print(L[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
L=[10,20,30,40,50]
print(L[::-1])

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
print(type(t))
print(t)

<class 'tuple'>
(100, 200, 300)

In [14]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t=('red','green','blue','yellow')
print(t[-2])

blue

In [15]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10,20,5,15)
min=t[0]
for i in t:
  if i<min:
    min=i
print(min)

5

In [17]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog','cat','rabbit')
for i in range(len(t)):
  if t[i]=="cat":
    print(i)

1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
user_input = input("Enter items separated by spaces: ")
t= tuple(user_input.split())
if "kiwi" in t:
  print("kiwi is present")
else:
  print("kiwi is not present")

Enter items separated by spaces: apple kiwi grape
kiwi is present

In [1]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(type(s))
print(s)

<class 'set'>
{'a', 'c', 'b'}

In [2]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1,2,3,4,5}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

In [3]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s={1,2,3,4}
print(s)
s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3}

In [5]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [6]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
print(s1&s2)

{2, 3}

In [7]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name":"Karanjot","age":20,"city":"Delhi"}
print(type(d))
print(d)

<class 'dict'>
{'name': 'Karanjot', 'age': 20, 'city': 'Delhi'}

In [8]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d={'name':'John', 'age':25}
print(d)
d["country"]="USA"
print(d)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={'name':'Alice', 'age':30}
print(d["name"])

Alice

In [10]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d={'name':'Bob', 'age':22, 'city':'New York'}
print(d)
d.pop('age')
print(d)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [12]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name':'Alice', 'city':'Paris'}
if "city" in d.keys():
  print("city is present")
else:
  print("city is not present")

city is present

In [13]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l=["name","age","city"]
t=("Karanjot","25","Delhi")
d=dict(zip(l,t))
print(type(l))
print(l)
print(type(t))
print(t)
print(type(d))
print(d)

<class 'list'>
['name', 'age', 'city']
<class 'tuple'>
('Karanjot', '25', 'Delhi')
<class 'dict'>
{'name': 'Karanjot', 'age': '25', 'city': 'Delhi'}

In [14]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
l=[random.randint(1,100) for i in range(5)]
print(l)

[94, 28, 86, 44, 53]

In [15]:
#28. Write a code to create a list with strings and print the element at the third index
l=["name","age","city","Karanjot"]
print(l[3])

Karanjot

In [17]:
#29. Write a code to combine two dictionaries into one and print the result.
d1={"name":"Karanjot","age":20}
d2={"city":"Delhi","country":"India"}
d1.update(d2)
print(d1)

{'name': 'Karanjot', 'age': 20, 'city': 'Delhi', 'country': 'India'}

In [18]:
#30. Write a code to convert a list of strings into a set.
l=["name","age","city","Karanjot"]
s=set(l)
print(type(s))
print(s)

<class 'set'>
{'city', 'age', 'name', 'Karanjot'}